.app {
  width: 100vw;
  /* margin: 1em auto;
  text-align: center; */
  /* background-size: 100vw 100vh; */
  /* background-position: center; */
  /* background-image: url('../../assets/images/background.gif'); */
}


.app img {
  /* max-width: 150px; */
}


.background {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
}