.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: black;
  justify-content: center;
  /* margin: 1em auto;
  text-align: center; */
  /* background-size: 100vw 100vh;
  background-position: 0;
  background-image: url('../../assets/images/background.gif'); */
}


.game-container {
  width: 1000px;
  height: 600px;
  border: 2px solid blue;
  // overflow: hidden;
  position: relative;
  
}