.app {
  width: 100vw;
  height: 100vh;
  /* margin: 1em auto;
  text-align: center; */
  /* background-size: 100vw 100vh;
  background-position: 0;
  background-image: url('../../assets/images/background.gif'); */
}


.app img {
  /* max-width: 150px; */
}


.background {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

}