.field {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // height: 100px;
  // width: 100vw;
  background-color: rgb(168, 88, 88);
  // width: 1000px;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  border: 1px solid red;
  position: relative;
}

@-webkit-keyframes bgMove {
  from {
    -webkit-transform: translateX(0%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(0%); /* IE 9 */
    transform: translateX(0%); /* IE 10, Fx 16+, Op 12.1+ */
  }
  to {
    -webkit-transform: translateX(-100%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* IE 10, Fx 16+, Op 12.1+ */
  }
}

@keyframes bgMove {
  from {
    -webkit-transform: translateX(0%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(0%); /* IE 9 */
    transform: translateX(0%); /* IE 10, Fx 16+, Op 12.1+ */
  }
  to {
    // left: -200%;
    -webkit-transform: translateX(-100%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* IE 10, Fx 16+, Op 12.1+ */
    // right: 1300px;
  }
}

.bg-container {
  position: absolute;
  top: 0;
  height: 600px;
  // left: 0;
  display: flex;

  // transition: left 10s;
  transform: translateX(-1px);
  -webkit-animation: bgMove 22s linear infinite;
  animation: bgMove 22s linear infinite;


  // animation: bgMove 10s linear infinite; real
}

.bg {
  // margin-bottom: 30px;
  // margin-top: 0px;
  // max-height: 100vh;
  // max-width: 100vw;
  // height: 900px;
  object-fit: cover;
}

.labo {
  height: 900px;
  margin-top: -164px;
}











.obstacle {
  position: absolute;
  bottom: 100px;
  // right: 0px;
  height: 50px;
  width: 35px;
  // border: 1px solid black;
  // background-color: rgb(152, 222, 135);
  // background-image: url('../../assets/images/garbage_px.png');
  background-position: center;
  background-size: 35px 50px;
  background-repeat: no-repeat;
  // -webkit-filter: drop-shadow(30px -5px 4px rgba(0, 0, 0, .3));
  // filter: drop-shadow(30px -5px 4px rgba(0, 0, 0, .3));
}

.obs1 {
  left: 500px;
}

.obs2 {
  left: 1050px;
}

.obs3 {
  left: 1900px;
}


.obstacle-fall {
  transition: transform .5s;
  transform: rotate(90deg);
  transform-origin: bottom right;
  -webkit-animation-name: shadow;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: shadow;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}


@-webkit-keyframes shadow {
  to {
    -webkit-filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
    filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
  }
}

@keyframes shadow {
  to {
    -webkit-filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
    filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
  }
}



