.field {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // height: 100px;
  // width: 100vw;
  background-color: rgb(168, 88, 88);
  // width: 1000px;
  width: 100vw;
  height: 500px;
  overflow: hidden;
  border: 1px solid red;
  position: relative;
  // overflow: hidden;
  // animation: backMove 10s linear infinite;
}

@keyframes backMove {
  100% {
    padding-left: -1300px;
    // right: 210px;
  }
}


.bg-container {
  position: absolute;
  top: 0;
  // left: 0;
  display: flex;
  transition: left 10s;
  animation: bgMove 15s linear infinite;


  // animation: bgMove 10s linear infinite; real

}

.bg {
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
}


@keyframes bgMove {
  100% {
    // left: -200%;
    transform: translateX(-100%);
    // right: 1300px;
  }
}















.obstacle {
  position: absolute;
  bottom: 96px;
  // right: 0px;
  height: 50px;
  width: 35px;
  // border: 1px solid black;
  // background-color: rgb(152, 222, 135);
  // background-image: url('../../assets/images/garbage_px.png');
  background-position: center;
  background-size: 35px 50px;
  background-repeat: no-repeat;
  // animation: objectMove 8s linear infinite;
}

.obs1 {
  left: 5000px;
}

.obs2 {
  left: 750px;
}

.obs3 {
  left: 1000px;
}

@keyframes objectMove {
  100% {
    right: 1300px;
    // right: 210px;
  }
}
