.field {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // height: 100px;
  // width: 100vw;
  background-color: rgb(0, 0, 0);
  // width: 1000px;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  // border: 1px solid red;
  position: relative;
}

@-webkit-keyframes bgMove {
  from {
    -webkit-transform: translateX(0%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    transform: translateX(0%); /* IE 10, Fx 16+, Op 12.1+ */
  }
  to {
    -webkit-transform: translateX(-100%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    transform: translateX(-100%); /* IE 10, Fx 16+, Op 12.1+ */
  }
}

@keyframes bgMove {
  from {
    -webkit-transform: translateX(0%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(0%); /* IE 9 */
    transform: translateX(0%); /* IE 10, Fx 16+, Op 12.1+ */
  }
  to {
    // left: -200%;
    -webkit-transform: translateX(-100%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* IE 10, Fx 16+, Op 12.1+ */
    // right: 1300px;
  }
}

.bg-container {
  position: absolute;
  top: 0;
  height: 600px;
  // left: 0;
  display: flex;

  transition: .2s;
  // transition: left 10s;
  transform: translate3d(0, 0, 0);   /* Hey browser, use your GPU */

  // -webkit-animation: bgMove 22s linear infinite;
  // animation: bgMove 22s linear infinite;


  // animation: bgMove 10s linear infinite; real
}

.bg--1 {
  left: 1180.64px;
}
.bg--2 {
  // border: 2px solid red;
}

.opacity {
  opacity: 0;
}

.bg {
  // margin-bottom: 30px;
  // margin-top: 0px;
  // max-height: 100vh;
  // max-width: 100vw;
  // height: 900px;
  object-fit: cover;
}

.labo {
  height: 900px;
  margin-top: -164px;
}

.mini-rbt {

  & img {
    position: absolute;
    left: -35px;
    top: -35px;
    z-index: 999999;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}


.mini-rbt--stop {
  -webkit-transform: translate3d(0, 0, 0);   /* Hey browser, use your GPU */
  transform: translate3d(0, 0, 0);   /* Hey browser, use your GPU */
  background-image: url('../../assets/images/mini-robot-good.png')
}

.mini-rbt--move-left {
  background-image: url('../../assets/images/mini-robot-left.gif');
  // -webkit-animation: mini-robot-left 22s linear infinite;
  // animation: mini-robot-left 17s linear infinite;
  // transform: translate3d(0, 0, 0);   /* Hey browser, use your GPU */
}


.mini-rbt--move-right {
  background-image: url('../../assets/images/mini-robot-right.gif');
  // -webkit-animation: mini-robot-right 22s linear infinite;
  // animation: mini-robot-right 17s linear infinite;
  transform: translate3d(0, 0, 0);   /* Hey browser, use your GPU */
}

@-webkit-keyframes mini-robot-left {
  to {
    -webkit-transform: translateX(-1000%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-1000%); /* IE 9 */
    transform: translateX(-1000%); /* IE 10, Fx 16+, Op 12.1+ */
  }
}

@keyframes mini-robot-left {
  to {
    -webkit-transform: translateX(-1000%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-1000%); /* IE 9 */
    transform: translateX(-1000%); /* IE 10, Fx 16+, Op 12.1+ */
  }
}

@-webkit-keyframes mini-robot-right {
  to {
    -webkit-transform: translateX(-1000%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateX(-1000%); /* IE 9 */
    transform: translateX(-1000%); /* IE 10, Fx 16+, Op 12.1+ */
  }
}

@keyframes mini-robot-right {
  to {
    -webkit-transform: scaleX(-1) translateX(-1000%); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scaleX(-1) translateX(-1000%); /* IE 9 */
    transform: scaleX(-1) translateX(-1000%); /* IE 10, Fx 16+, Op 12.1+ */
  }
}




.obstacle {
  position: absolute;
  bottom: 100px;
  // right: 0px;
  height: 50px;
  width: 35px;
  // border: 1px solid black;
  // background-color: rgb(152, 222, 135);
  // background-image: url('../../assets/images/garbage_px.png');
  background-position: center;
  background-size: 35px 50px;
  background-repeat: no-repeat;
  // -webkit-filter: drop-shadow(30px -5px 4px rgba(0, 0, 0, .3));
  // filter: drop-shadow(30px -5px 4px rgba(0, 0, 0, .3));
}


.obs1 {
  left: 1050px;
}

.obs2 {
  left: 1900px;
}

.obs3 {
  left: 2900px;
}

.obs4 {
  left: 4500px;
}

.obs5 {
  left: 4800px; // garbage
}

.obs6 {
  left: 4900px; // garbage
}

.obs7 {
  left: 5400px; // rbt
}

.obs8 {
  left: 5700px; // rbt
}


.obstacle-fall {
  transition: transform .5s;
  transform: rotate(90deg);
  transform-origin: bottom right;
  -webkit-animation-name: shadow;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: shadow;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}



@-webkit-keyframes shadow {
  to {
    -webkit-filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
    filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
  }
}

@keyframes shadow {
  to {
    -webkit-filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
    filter: drop-shadow(5px 0px 2px rgba(0, 0, 0, .8));
  }
}



.coin {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 290px;
  background-position: center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.cn1 {
  left: 1250px;
}

.cn2 {
  left: 1350px;
}

.cn3 {
  left: 2850px;
}

.cn4 {
  left: 2950px;
}
.cn5 {
  left: 3050px;
}
.cn6 {
  left: 4050px;
}