.robot {
  display: flex;
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 95px;
  // background-color: orange;
  background-position: center;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  // border: 1px solid black;
  border-radius: 10px;
  animation-duration: .8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: all .4s;
  z-index: 2;
  -webkit-filter: drop-shadow(30px -5px 4px rgba(0, 0, 0, .1));
  filter: drop-shadow(30px -5px 4px rgba(0, 0, 0, .1));
  transform: translate3d(0, 0, 0);   /* Hey browser, use your GPU */


  // border: 1px solid black;
  // animation: jump 1s linear infinite;
  // filter: drop-shadow(0px 140px 4px rgba(0, 0, 0, .5));

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 150px;
  //   height: 150px;
  //   left: 0;
  //   bottom: -145px;
  //   background-position: center;
  //   background-size: 150px 150px;
  //   background-repeat: no-repeat;
  //   background-image: url('../../assets/images/run_robot.gif');
  //   transform: scaleY(-1);
  //   opacity: .5;
  // }


  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 10px;
  //   // border: 1px solid black;
  //   bottom: -25px;
  //   width: 120px;
  //   height: 30px;
  //   background-position: center;
  //   opacity: .2;
  //   animation: shadow .6s infinite
  // }
}


// .jump {
//   animation-duration: .8s;
//   animation-timing-function: ease-in-out;
//   animation-fill-mode: forwards;
//   // animation-name: jump;
//   &::after {
//     animation-duration: .8s;
//     animation-timing-function: ease-in-out;
//     animation-fill-mode: forwards;
//     animation-name: jump;
//     animation-name: anti_jump
//   }
// }

// @keyframes anti_jump {
//   50% {
//     bottom: -390px;
//     // transform: rotate(+45deg);
//   }

//   100% {
//     bottom: -145px;
//     // transform: rotate(+90deg);
//   }
// }




@keyframes jump {
  50% {
    bottom: 250px;
    // transform: translateY(-150px);
    // --translateY: -150px;
  }

  100% {
    bottom: 100px;
    // background-image: url('../../assets/images/rbt_jump.gif');
    // transform: translateY(0px);
    // --translateY: 0px;
  }
}


.opacity0 {
  opacity: 0;
}


.robot-left {
  transform: scaleX(-1);
}

.robot-explode { // my robot
  &::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 200px;
    left: 0px;
    bottom: 0;
    background-image: url('../../assets/images/explosion.gif');
    background-position: center;
    background-size: 200px 200px;
    background-repeat: no-repeat;
  }

  & img {
    filter: brightness(0.3);
  }
}

.mini-robot-impact {
  // filter: brightness(0.3);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10px;
    bottom: 0;
    // z-index: 20000;
    // background-image: url('../../assets/images/explosion.gif');
    // background-image: url('../../assets/images/hit.gif');
    background-position: center;
    background-size: 80px 100px;
    background-repeat: no-repeat;
    animation: background-impact 500ms forwards;
  }
}

@keyframes background-impact {
  from {
    background-image: none;
  }
  to {
    background-image: url('../../assets/images/hit.gif');
  }
}

.mini-robot-final-explosion {

  &::after {
    content: "";
    position: absolute;
    width: 85px;
    height: 105px;
    left: -28px;
    bottom: -20px;
    // z-index: 20000;
    // background-image: url('../../assets/images/explosion.gif');
    background-position: center;
    background-size: 85px 105px;
    background-repeat: no-repeat;
    animation: background-explode 500ms forwards;
  }
}

@keyframes background-explode {
  from {
    background-image: none;
  }
  to {
    background-image: url('../../assets/images/mini-explosion.gif');
  }
}

.darken {
  filter: brightness(0.3);
}

.bullet {
  width: 50px;
  height: 20px;
  background-image: url('../../assets/images/laser_shot.png');
  background-position: center;
  background-size: 50px 20px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2000;
}

.bullet--stay {
  bottom: 176px;
}

.bullet--sit {
  bottom: 132px;
}


.bullet--right {
  animation: shoot_bullet_right;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes shoot_bullet_right {
  to {
    transform: translateX(100vw);
  }
}

.bullet--left {
  animation: shoot_bullet_left;
  animation-duration: .8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes shoot_bullet_left {
  to {
    transform: translateX(-100vw);
  }
}


// @keyframes shadow {
//   0% {
//     background-image: url('../../assets/images/shadow_long_px.png');
//   }
//   24% {
//     background-image: url('../../assets/images/shadow_long_px.png');
//   }
//   25% {
//     background-image: url('../../assets/images/shadow_big_px.png');
//   }
//   74% {
//     background-image: url('../../assets/images/shadow_big_px.png');
//   }
//   75% {
//     background-image: url('../../assets/images/shadow_long_px.png');
//   }
//   100% {
//     background-image: url('../../assets/images/shadow_long_px.png');
//   }
// }

// .run1 {
//   // background-image: url(../../assets/images/robot-run-1.png);
//   background-image: url('../../assets/images/pxArt0.png');
// }
// .run2 {
//   // background-image: url(../../assets/images/robot-run-2.png);
//   background-image: url('../../assets/images/pxArt1.png');
// }
// .run3 {
//   // background-image: url(../../assets/images/robot-run-3.png);
//   background-image: url('../../assets/images/pxArt2.png');
// }
// .run4 {
//   // background-image: url(../../assets/images/robot-run-4.png);
//   background-image: url('../../assets/images/pxArt3.png');
// }
// .run5 {
//   // background-image: url(../../assets/images/robot-run-5.png);
//   background-image: url('../../assets/images/pxArt4.png');
// }
// .run6 {
//   // background-image: url(../../assets/images/robot-run-6.png);
//   background-image: url('../../assets/images/pxArt5.png');
// }
// .run7 {
//   // background-image: url(../../assets/images/robot-run-7.png);
//   background-image: url('../../assets/images/pxArt6.png');
// }
// .run8 {
//   // background-image: url(../../assets/images/robot-run-8.png);
//   background-image: url('../../assets/images/pxArt7.png');
// }
// .run9 {
//   // background-image: url(../../assets/images/robot-run-9.png);
//   background-image: url('../../assets/images/pxArt8.png');
// }
// .run10 {
//   // background-image: url(../../assets/images/robot-run-10.png);
//   background-image: url('../../assets/images/pxArt9.png');
// }
// .run11 {
//   // background-image: url(../../assets/images/robot-run-11.png);
//   background-image: url('../../assets/images/pxArt10.png');
// }
// .run12 {
//   // background-image: url(../../assets/images/robot-run-12.png);
//   background-image: url('../../assets/images/pxArt11.png');
// }
// .run13 {
//   // background-image: url(../../assets/images/robot-run-13.png);
//   background-image: url('../../assets/images/pxArt12.png');
// }
// .run14 {
//   // background-image: url(../../assets/images/robot-run-14.png);
//   background-image: url('../../assets/images/pxArt13.png');
// }


.score {
  position: fixed;
  z-index: 200;
  top: 40px;
  right: 200px;
  background-color: rgba(47, 0, 78, 0.7);
  border: 2px solid rgb(147, 0, 245);
  color: orange;
  padding: 10px 0px 10px 0px;
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  font-family: silom, Arial, Helvetica, sans-serif;
}