.robot {
  display: flex;
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 100px;
  // background-color: orange;
  background-position: center;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  // border: 1px solid black;
  border-radius: 10px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transition: all .4s;
  // animation: jump 1s linear infinite;
}

@keyframes jump {
  50% {
    bottom: 250px;
    // transform: rotate(+45deg);
  }

  100% {
    bottom: 100px;
    // transform: rotate(+90deg);
  }
}


.run1 {
  // background-image: url(../../assets/images/robot-run-1.png);
  background-image: url('../../assets/images/pxArt0.png');
}
.run2 {
  // background-image: url(../../assets/images/robot-run-2.png);
  background-image: url('../../assets/images/pxArt1.png');
}
.run3 {
  // background-image: url(../../assets/images/robot-run-3.png);
  background-image: url('../../assets/images/pxArt2.png');
}
.run4 {
  // background-image: url(../../assets/images/robot-run-4.png);
  background-image: url('../../assets/images/pxArt3.png');
}
.run5 {
  // background-image: url(../../assets/images/robot-run-5.png);
  background-image: url('../../assets/images/pxArt4.png');
}
.run6 {
  // background-image: url(../../assets/images/robot-run-6.png);
  background-image: url('../../assets/images/pxArt5.png');
}
.run7 {
  // background-image: url(../../assets/images/robot-run-7.png);
  background-image: url('../../assets/images/pxArt6.png');
}
.run8 {
  // background-image: url(../../assets/images/robot-run-8.png);
  background-image: url('../../assets/images/pxArt7.png');
}
.run9 {
  // background-image: url(../../assets/images/robot-run-9.png);
  background-image: url('../../assets/images/pxArt8.png');
}
.run10 {
  // background-image: url(../../assets/images/robot-run-10.png);
  background-image: url('../../assets/images/pxArt9.png');
}
.run11 {
  // background-image: url(../../assets/images/robot-run-11.png);
  background-image: url('../../assets/images/pxArt10.png');
}
.run12 {
  // background-image: url(../../assets/images/robot-run-12.png);
  background-image: url('../../assets/images/pxArt11.png');
}
.run13 {
  // background-image: url(../../assets/images/robot-run-13.png);
  background-image: url('../../assets/images/pxArt12.png');
}
.run14 {
  // background-image: url(../../assets/images/robot-run-14.png);
  background-image: url('../../assets/images/pxArt13.png');
}